<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF_Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Import React, ReactDOM, and Babel -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <!-- Import React component -->
    <script type="text/babel" src="{{ url_for('static', filename='js/components/PDFApp.js') }}"></script>
</head>
<body>
    <div class="container">
        <!-- React will render in this div -->
        <div id="root"></div>
        
        <footer>
            <p>Built by Aarush Ram </p>
            <p>in you encounter any issues write to aarush.anandh_ug2024@ashoka.edu.in</p>
        </footer>
    </div>

    <!-- Render the PDF App component -->
    <script type="text/babel">
        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<PDFApp />);
    </script>
</body>
</html>